 /* PC、スマホ共通スタイル */
  p {
  font-size: 15px;
  } 

  #main-visual > img {
    width: 100%;
  }


  /* PC用スタイル */

  @media screen and (min-width: 768px) {

  /* PCのナビゲーションを非表示に */
  #menu-sp{
   display: none;
    }

   header {
   display: flex;
   justify-content: space-between;
     }
    
  #nav-sp{
   display: none;
    }
  
    }


/* スマホ用スタイル */
  @media screen and (max-width: 767px) {

 #nav-pc {
  display: none;
}
 
body {
  min-width: 375px;
  margin: 0; 
}
#menu-sp {
  float: right;
  padding: 0;
}

#nav-sp {
background-color: #ce933e;
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
display: none;
z-index: 100;
}

#nav-sp ul {
display: block;
padding: 0;

#nav-sp ul {
padding-left: 0 
}

#nav-sp li {
list-style: none;

}
#close {
position: absolute;
top: 20px;
right: 20px;

}
#logo-sp {
margin: 80px 0 30px 20px;
}

#nav-sp a {
display: block;
}
#nav-sp a:link {
color: #ffffff;
}

#nav-sp a:visited {
color: #ffffff;
}
#nav-sp a:hover {
color: #ffffff;
text-decoration: underline;
}
#nav-sp a:active {
color: #ffffff;
}

#logo-sp .menu {
text-decoration: none;
display: block;
margin: 0 20px;
height: 44px;
font-size: 16px;
background-image: url("images/arrow.png");
background-repeat: no-repeat;
background-position: right top;

}
}
  }